a {
  text-decoration: none !important;
  color: #323436;
  border: none;
}
body {
  font-family: 'Open Sans';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans';
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}
ul ol,
ol ul,
ol ol,
ul ul {
  padding-left: 15px;
}
p a {
  color: #007bff;
}
p a:hover {
  text-decoration: underline;
  color: #007bff;
}
.user-logged-in #main-wrapper {
  margin-top: 130px;
}
.hero-slide .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  max-width: 40%;
  padding: 30px;
  right: auto;
  transform: translate(-50%, -50%);
}
.hero-content a {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}
.navbar {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  height: 55px;
}
.sticky {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}
h4 a {
  color: inherit;
}
.field--name-field-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
.field--name-field-tags .field__item {
  display: inline-block;
  margin-left: 5px;
}
.field--name-field-tags .field__item a:empty {
  display: none;
  padding: 3px 7px;
  background: #adadad;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.field--name-field-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.field--name-field-category .field__item {
  display: inline-block;
  margin-left: 5px;
}
.field--name-field-category .field__item a {
  display: inline-block;
  padding: 3px 7px;
  background: #adadad;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.node__links {
  margin-bottom: 25px;
}
ul.links.inline {
  display: inline-flex;
  flex-wrap: wrap;
}
ul.links.inline li {
  display: inline-block;
  padding: 0;
  padding-right: 10px;
}
ul.links.inline li a {
  display: inline-block;
  padding: 3px 7px;
  background: #d0d0d0;
  border-radius: 5px;
  color: #000;
  font-weight: 700;
}
input.form-submit {
  background-color: #dc3545 !important;
  color: #fff !important;
}
.node__submitted {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.field--type-image {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.field--type-image img {
  width: 100%;
}
.sidebar {
  position: sticky;
  top: 50px;
  left: 0;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}
#sidebar.fixed-sidebar {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  box-shadow: -2px -1px 3px #d6d6d6;
  -webkit-box-shadow: -2px -1px 3px #d6d6d6;
}
.user-logged-in .sidebar {
  top: 130px;
}
.user-login-form .form-item:first-of-type {
  margin-top: 0;
}
.block-user-login-block {
  position: relative;
}
.sidebar form {
  display: inline-block;
  width: 100%;
  position: relative;
}
.sidebar .view-blog-s-category {
  margin: 0 0 25px;
  border: 1px solid #adadad;
}
.sidebar .view-blog-s-category .views-row {
  padding: 3px 10px;
  border-bottom: 1px solid #adadad;
  font-size: 14px;
}
.sidebar .view-blog-s-category .views-row:last-of-type {
  border-bottom: none;
}
nav.breadcrumb ol {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
nav.breadcrumb ol li {
  list-style: none;
  color: #000;
  position: relative;
  font-size: 14px;
  padding-right: 12px;
  margin-right: 9px;
}
nav.breadcrumb ol li:before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  right: 0;
  transform: rotate(-40deg);
  top: 8px;
}
nav.breadcrumb ol li:nth-last-child(1):before {
  display: none;
}

ul.tabs.primary {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  flex-direction: initial !important;
}
nav.tabs {
  box-shadow: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  border: none !important;
}
ul.tabs.primary li {
  width: max-content;
  float: left;
  list-style: none;
  margin-right: 15px;
}
ul.tabs.primary li a {
  border: 1px solid #eee;
  background: #f5f5f5;
  padding: 10px  26px !important;
  min-height: auto !important;
  font-size: 16px;
}

.sidebar .view-blog-s-category {
  border: 0 !important;
}
.views-summary.views-summary-unformatted {
  border: 1px solid #ccc !important;
  margin: 11px 0 !important;
  padding: 6px 10px !important;
}
.block-user-login-block .item-list li {
  display: block;
  margin: 0;
}
.block-user-login-block .item-list li:first-of-type {
  position: absolute;
  width: 58%;
  right: 0;
  bottom: 50px;
  height: auto;
  border: none!important;
}
.block-user-login-block .item-list li a {
  display: block;
  padding: 2px 10px;
  color: #4272f8;
  text-align: center;
}
.block-user-login-block .item-list li a:hover {
  text-decoration: underline;
}
.footer {
  padding-top: 50px;
  margin-top: 50px;
}
.footer h4 {
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}
.footer .footer-columns {
  margin-bottom: 25px;
}
.footer h4:after {
  border-bottom: 5px solid #5d5c5c;
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  max-width: 400px;
}
.footer {
  color: #adadad;
}
.footer a {
  color: #adadad;
}
.footer p {
  text-align: left;
}
.footer a:hover {
  color: #fff;
}
.bottom-footer {
  background: #000;
  padding: 25px 0;
  border-top: 3px solid #5d5c5c;
  margin-top: 40px;
}
.bottom-footer .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bottom-footer .social h6 {
  color: #fff;
  margin-right: 15px;
  margin-bottom: 0;
}
.bottom-footer .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  background: #fff;
  color: #323436;
  margin-right: 10px;
  font-size: 24px;
  width: 30px;
  height: 30px;
}
.bottom-footer p,
.bottom-footer a {
  color: #fff;
  margin: 0;
}
.bottom-footer .row {
  align-items: center;
}
.sales_contact p {
  font-size: 14px;
}
.sales_contact p a {
  text-decoration: underline;
}
.sales_contact span.bold {
  display: block;
  margin-bottom: 5px;
}
.sales_contact ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.sales_contact ul li {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.sales_contact ul li a {
  display: block;
}
.sales_contact ul li a img {
  margin-right: 5px;
}
.tabs a {
  border: 1px solid #eee;
  background: #f5f5f5;
}
.breadcrumb {
  background: #fff;
  padding-bottom: 20px!important;
  padding-left: 0;
  border-bottom: 1px solid #323436;
  border-radius: initial;
}
.breadcrumb li a {
  color: #ff5959;
}
.search-results {
  padding: 0;
}
.search-results li {
  display: block;
  margin: 0 0 30px!important;
}
.js-form-type-checkbox .form-check-input {
  margin-left: 0;
}
.js-form-type-checkbox label {
  padding-left: 20px;
}
.js-form-type-search input[type="search"] {
  display: table;
  box-sizing: inherit;
}
.js-form-type-search {
  display: block!important;
}
form#search-block-form {
  position: relative;
}
form#search-block-form .form-control {
  padding-right: 40px;
  box-sizing: inherit;
}
form#search-block-form .form-actions {
  position: absolute;
  top: 16px;
  right: 10px;
  display: inline-block;
  z-index: 1;
  width: 40px;
}
form#search-block-form .form-actions:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 30px;
  top: 3px;
  right: 0;
  background-image: url(/themes/ekam/images/search.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
form#search-block-form .form-actions input {
  opacity: 0;
  z-index: 1;
}
#search-form {
  position: relative;
}
#search-form .form-control {
  padding-right: 85px;
  box-sizing: inherit;
}
#search-form .js-form-submit {
  position: absolute;
  top: 23px;
  right: 0;
  display: inline-block;
  z-index: 1;
  margin: 0;
}
.user-logged-in .toolbar-oriented {
  z-index: 9999;
  position: relative;
}
.user-logged-in {
  padding-top: 0!important;
}
.user-logged-in .fixed-top {
  top: 80px;
}
#main-wrapper {
  margin-top: 55px;
}
.comment-form .filter-wrapper {
  display: none;
}
.form-item-captcha-response {
  position: relative;
}
.form-item-captcha-response input {
  display: inline;
  max-width: 100px;
}
.sidebar .block h4.title {
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section.js-comment {
  padding: 15px;
  border: 1px solid #adadad;
  margin-bottom: 20px;
}
section.js-comment .col-lg-3 {
  border-right: 1px solid #adadad;
}
blockquote {
  padding: 30px 30px 25px;
  background: #d8d8d8;
  border-radius: 7px;
  padding-left: 50px;
}
blockquote p {
  margin: 0;
  font-weight: normal;
  position: relative;
  color: #5d5d5d;
}
blockquote p::before {
  content: "";
  display: inline;
  position: absolute;
  top: -2px;
  left: -33px;
  width: 25px;
  height: 25px;
  background-image: url(../images/quaot_left.png);
  background-size: contain;
  background-repeat: no-repeat;
}
table {
  text-align: center;
}
table td,
table tr,
table th {
  text-align: center;
  padding: 7px 0;
}
table thead {
  background-color: #bdbdbd;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
@media(max-width:991px) {
  body {
    font-size: 14px;
  }
  .user-logged-in .fixed-top {
    top: 37px;
  }
  .navbar {
    height: auto;
    background-color: #343a40;
  }
  .navbar img {
    max-width: 120px;
  }
  .tabs a {
    margin-bottom: 7px;
  }
  .hero-slide .carousel-caption {
    max-width: 80%;
    width: 100%;
  }
  .carousel-item {
    height: 500px;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section.js-comment .col-lg-3 {
    border-right: none;
    border-bottom: 1px solid #adadad;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
@media(max-width:767px) {
  .user-logged-in .fixed-top {
    top: 70px;
  }
  ul.links.inline li {
    display: inline;
  }
  .bottom-footer .social h6 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .bottom-footer .social {
    display: block;
    text-align: center;
  }
  .bottom-footer .social a {
    margin: 0 3px;
  }
  h3.page-title {
    margin-bottom: 35px;
  }
}

/* 22-04-24 comment button*/

input#edit-submit {
    border: none;
  }

input#edit-preview {
    border: none;
}

.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.search-title {
    font-size: 18px; /* Adjust the font size as needed */
    color: #333; /* Change the color to improve visibility */
    /* Add any other styles to improve visibility */
} 