{% set active = index.loop == 0 ? 'active' %}

<div class="carousel-item {{ active }}">
	{{ content.field_slider_image }}
	<div class="carousel-caption bg-dark">
		<h3 class="hero-title">{{ label.0 }}</h3>
		<div class="hero-content">
        {{ content.body.0 }}
        {{ content.field_link.0 }}
        </div>
	</div>
</div>
