<footer class="footer bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12 footer-columns"> {{ page.footer_first }}	</div>
			<div class="col-md-4 col-sm-12 footer-columns">	{{ page.footer_second }} </div>
			<div class="col-md-4 col-sm-12 footer-columns">	{{ page.footer_third }}	</div>
		</div>
		<div class="row">
			<div class="col-12"> {{ page.footer }} </div>
		</div>
	</div>

	<div class="bottom-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-6 col-sm-12 footer-bottom-columns">
				<div class="copyright">
					<p>&copy; <script>document.write(new Date().getFullYear())</script>	<a href="{{ptiwebtech}}"> Prerna Trimurty Infotech Pvt. Ltd. </a>
						All Rights Reserved.</p>
				</div>
			</div>
			<div class="col-md-6 col-6 col-sm-12 footer-bottom-columns">
				<div class="social">
				<h6>Stay Connected</h6>
        {% if twitter %}
					<a href="{{twitter}}" class="twitter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a>
        {% endif %}
        {% if facebook %}
					<a href="{{facebook}}" class="facebook"> <i class="fa fa-facebook"></i>	</a>
        {% endif %}
        {% if instagram %}
					<a href="{{instagram}}" class="instagram"> <i class="fa fa-instagram"></i> </a>
        {% endif %}
				</div>
			</div>
		</div>
	</div>
	</div>
</footer>
